<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <app-formulario-recuperar-senha (enviar)="viewModel.processarSolicitacao($event)"></app-formulario-recuperar-senha>
                <app-box-erro *ngIf="viewModel.getMostarErro()" [erroMensagem]="viewModel.getErroProcessamento().mensagem" [erroTitulo]="viewModel.getErroProcessamento().titulo" [erroCodigo]="viewModel.getErroProcessamento().codigo" (fechaBox)="viewModel.setMostrarErro($event)"></app-box-erro>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
