<div [@routerTransition]>
    <div class="container">
            <div class="row mt-4">
                <div class="col">
                    <h3 class="mb-0 font-weight-normal">$ 1548.00</h3>
                    <p class="text-mute text-secondary">My Balance</p>
                </div>
                <div class="col-auto">
                    <button class="btn btn-default btn-rounded-54 shadow"><i class="material-icons">add</i></button>
                </div>
            </div>
        </div>
        <div class="swiper-container card-slide mb-2" [swiper]="configuration">
            <div class="swiper-wrapper">
                <div class="swiper-slide pb-4">
                    <div class="container z-1 position-relative">
                        <div class="card bg-template shadow mt-4 h-200">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="../assets/images/visa-logos.png" alt="">
                                        <p class="small text-mute mt-2">Debit Card</p>
                                    </div>
                                    <div class="col-12 mt-5">
                                        <h3 class="font-weight-normal">**** **** **** 9858</h3>
                                    </div>
                                    <div class="col-12">
                                        <p>Ammy Jahnson <span class="float-right">11/20</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container top-50 z-0">
                        <div class="card mb-4 shadow pt-5">
                            <div class="card-body border-bottom">
                                <div class="row">
                                    <div class="col">
                                        <p>EMI<br><small class="text-mute text-secondary">Car Loan</small></p>
                                    </div>
                                    <div class="col text-right">
                                        <p>$ 658.00<br><small class="text-mute text-secondary">Paid: 18-12-2019</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body border-bottom">
                                <div class="row">
                                    <div class="col">
                                        <p>EMI<br><small class="text-mute text-secondary">Car Loan</small></p>
                                    </div>
                                    <div class="col text-right">
                                        <p>$ 658.00<br><small class="text-mute text-secondary">Paid: 18-12-2019</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-none">
                                <button class="btn btn-default shadow  btn-rounded btn-block btn-lg ">Make Payment</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide pb-4">
                    <div class="container z-1 position-relative">
                        <div class="card gradient-success  text-white shadow mt-4 h-200">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="../assets/images/visa-logos.png" alt="">
                                        <p class="small text-mute mt-2">Debit Card</p>
                                    </div>
                                    <div class="col-12 mt-5">
                                        <h3 class="font-weight-normal">**** **** **** 9858</h3>
                                    </div>
                                    <div class="col-12">
                                        <p>Ammy Jahnson <span class="float-right">11/20</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container top-50 z-0">
                        <div class="card mb-4 shadow pt-5">
                            <div class="card-body border-bottom">
                                <div class="row">
                                    <div class="col">
                                        <p>EMI<br><small class="text-mute text-secondary">Car Loan</small></p>
                                    </div>
                                    <div class="col text-right">
                                        <p>$ 658.00<br><small class="text-mute text-secondary">Paid: 18-12-2019</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body border-bottom">
                                <div class="row">
                                    <div class="col">
                                        <p>EMI<br><small class="text-mute text-secondary">Car Loan</small></p>
                                    </div>
                                    <div class="col text-right">
                                        <p>$ 658.00<br><small class="text-mute text-secondary">Paid: 18-12-2019</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-none">
                                <button class="btn btn-default shadow  btn-rounded btn-block btn-lg ">Make Payment</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide pb-4">
                    <div class="container z-1 position-relative">
                        <div class="card gradient-danger text-white shadow mt-4 h-200">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="../assets/images/visa-logos.png" alt="">
                                        <p class="small text-mute mt-2">Debit Card</p>
                                    </div>
                                    <div class="col-12 mt-5">
                                        <h3 class="font-weight-normal">**** **** **** 9858</h3>
                                    </div>
                                    <div class="col-12">
                                        <p>Ammy Jahnson <span class="float-right">11/20</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container top-50 z-0">
                        <div class="card mb-4 shadow pt-5">
                            <div class="card-body border-bottom">
                                <div class="row">
                                    <div class="col">
                                        <p>EMI<br><small class="text-mute text-secondary">Car Loan</small></p>
                                    </div>
                                    <div class="col text-right">
                                        <p>$ 658.00<br><small class="text-mute text-secondary">Paid: 18-12-2019</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body border-bottom">
                                <div class="row">
                                    <div class="col">
                                        <p>EMI<br><small class="text-mute text-secondary">Car Loan</small></p>
                                    </div>
                                    <div class="col text-right">
                                        <p>$ 658.00<br><small class="text-mute text-secondary">Paid: 18-12-2019</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-none">
                                <button class="btn btn-default shadow  btn-rounded btn-block btn-lg ">Make Payment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="container px-0">
                    <!-- Swiper -->
                    <div class="swiper-container offer-slide" [swiper]="configurationsoffer">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card shadow border-0 bg-template">
                                    <div class="card-body py-2">
                                        <div class="row">
                                            <div class="col-auto pr-0 bottom-15">
                                                <img src="../assets/images/graphics-carousel-scheme1.png" alt="" class="mw-100">
                                            </div>
                                            <div class="col align-self-center">
                                                <h5 class="mb-0 font-weight-normal">Gold loan scheme</h5>
                                                <p class="text-mute">Get all money at market rate of gold</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card shadow border-0 bg-template">
                                    <div class="card-body py-2">
                                        <div class="row">
                                            <div class="col pr-0 align-self-center">
                                                <h5 class="mb-0 font-weight-normal">Gold loan scheme</h5>
                                                <p class="text-mute">Get all money at market rate of gold</p>
                                            </div>
                                            <div class="col-auto bottom-15">
                                                <img src="../assets/images/graphics-carousel-scheme1.png" alt="" class="mw-100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">            
            <div class="card shadow border-0 mb-3">
                <div class="card-header bg-none">
                    <h6>Donate Flood victims</h6>
                </div>
                <div class="card-body pt-0">
                    <figure class="btn-rounded-10 overflow-hidden">
                        <img src="../assets/images/product1.jpg" alt="" class="mw-100">
                    </figure>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-normal mb-1">$ 10.00 </h5>
                            <p class="text-mute small text-secondary mb-2">Feed the flood victims</p>
                            <ngb-progressbar type="success" [value]="65" class="h-4"></ngb-progressbar>
                        </div>
                        <div class="col-auto pl-0">
                            <button class="avatar avatar-60 no-shadow border-0 bg-template">
                                <i class="material-icons">local_atm</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h5 class="subtitle mb-1">Most Exciting Feature</h5>
                    <p class="text-secondary">Take a look at our services</p>
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-6 col-md-3">
                    <div class="card shadow border-0 mb-4">
                        <div class="card-body">
                            <div class="avatar avatar-60 no-shadow border-0">
                                <div class="overlay bg-template"></div>
                                <i class="material-icons vm md-36 text-template">card_giftcard</i>
                            </div>
                            <h3 class="mt-3 mb-0 font-weight-normal">2546</h3>
                            <p class="text-secondary text-mute small">Gift it out</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card shadow border-0 mb-4">
                        <div class="card-body">
                            <div class="avatar avatar-60 no-shadow border-0">
                                <div class="overlay bg-template"></div>
                                <i class="material-icons vm md-36 text-template">subscriptions</i>
                            </div>
                            <h3 class="mt-3 mb-0 font-weight-normal">635</h3>
                            <p class="text-secondary text-mute small">Monthly Billed</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card shadow border-0 mb-4">
                        <div class="card-body">
                            <div class="avatar avatar-60 no-shadow border-0">
                                <div class="overlay bg-template"></div>
                                <i class="material-icons vm md-36 text-template">local_florist</i>
                            </div>
                            <h3 class="mt-3 mb-0 font-weight-normal">1542</h3>
                            <p class="text-secondary text-mute small">Eco environment</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card shadow border-0 mb-4">
                        <div class="card-body">
                            <div class="avatar avatar-60 no-shadow border-0">
                                <div class="overlay bg-template"></div>
                                <i class="material-icons vm md-36 text-template">location_city</i>
                            </div>
                            <h3 class="mt-3 mb-0 font-weight-normal">154</h3>
                            <p class="text-secondary text-mute small">Four Offices</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
