<app-sidebar
    (collapsedEvent)="receiveCollapsed($event)"
    class="sidebar"
></app-sidebar>
<a href="javascript:void(0)" class="closesidemenu" (click)="toggleSidebar()"><i class="material-icons icons-raised bg-dark ">close</i></a>

<!-- wrapper starts -->
<div class="wrapper" >
    <app-header
        class="container-fluid header"
        id="header-container"
    ></app-header>

    <div class="container-fluid">
        <div class="row">
            <!-- page content here -->
            <router-outlet></router-outlet>
            <!-- page content ends -->
        </div>
    </div>

    <app-footer class="footer"></app-footer>
</div>
<!-- wrapper ends -->
