<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Login</h1>
  <p class="text-muted">Acesse sua conta</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="icon-user"></i></span>
    </div>
    <input [ngClass]="{'is-invalid': submitted && f.email.errors }"
           autocomplete="email"
           class="form-control"
           formControlName="email"
           placeholder="Seu e-mail"
           type="text">
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Necessário informar seu e-mail!</div>
      <div *ngIf="f.email.errors.email">E-mail inválido!</div>
    </div>
  </div>
  <div class="input-group mb-4">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="icon-lock"></i></span>
    </div>
    <input [ngClass]="{'is-invalid': submitted && f.senha.errors }"
           type="password"
           class="form-control"
           placeholder="Sua senha"
           formControlName="senha"
           autocomplete="current-password">
    <div *ngIf="submitted && f.senha.errors" class="invalid-feedback">
      <div *ngIf="f.senha.errors.required">Necessário informar sua senha!</div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button class="btn btn-primary px-4">Entrar</button>
    </div>
    <div class="col-6 text-right">
      <a href="{{recuperarRedirect}}" class="btn btn-link px-0">Esqueceu a senha?</a>
    </div>
  </div>
</form>
