<div [@routerTransition]>
    <div class="container">
        <!-- page content here -->
        <h6 class="subtitle">Transaction History</h6>
        <div class="row">
            <div class="col-12 px-0">
                <ul class="list-group list-group-flush border-top border-bottom">
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto pr-0">
                                <div class="avatar avatar-50 no-shadow border-0">
                                    <img src="../assets/images/user2.png" alt="">
                                </div>
                            </div>
                            <div class="col align-self-center pr-0">
                                <h6 class="font-weight-normal mb-1">Ms. Shivani Dilux</h6>
                                <p class="text-mute small text-secondary">15-1-2020, 8:00 am</p>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-success">$154.0</h6>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto pr-0">
                                <div class="avatar avatar-50 no-shadow border-0">
                                    <img src="../assets/images/user4.png" alt="">
                                </div>
                            </div>
                            <div class="col align-self-center pr-0">
                                <h6 class="font-weight-normal mb-1">Mrs. Magon Strudio</h6>
                                <p class="text-mute small text-secondary">15-1-2020, 8:00 am</p>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-success">$154.0</h6>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto pr-0">
                                <div class="avatar avatar-50 no-shadow border-0">
                                    <img src="../assets/images/user3.png" alt="">
                                </div>
                            </div>
                            <div class="col align-self-center pr-0">
                                <h6 class="font-weight-normal mb-1">Mr. Jack Strudio</h6>
                                <p class="text-mute small text-secondary">15-1-2020, 8:00 am</p>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-danger">-$154.0</h6>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto pr-0">
                                <div class="avatar avatar-50 no-shadow border-0">
                                    <img src="../assets/images/user2.png" alt="">
                                </div>
                            </div>
                            <div class="col align-self-center pr-0">
                                <h6 class="font-weight-normal mb-1">Ms. Shivani Dilux</h6>
                                <p class="text-mute small text-secondary">15-1-2020, 8:00 am</p>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-danger">-$154.0</h6>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto pr-0">
                                <div class="avatar avatar-50 no-shadow border-0">
                                    <img src="../assets/images/user4.png" alt="">
                                </div>
                            </div>
                            <div class="col align-self-center pr-0">
                                <h6 class="font-weight-normal mb-1">Mrs. Magon Strudio</h6>
                                <p class="text-mute small text-secondary">15-1-2020, 8:00 am</p>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-success">$154.0</h6>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto pr-0">
                                <div class="avatar avatar-50 no-shadow border-0">
                                    <img src="../assets/images/user3.png" alt="">
                                </div>
                            </div>
                            <div class="col align-self-center pr-0">
                                <h6 class="font-weight-normal mb-1">Mr. Jack Strudio</h6>
                                <p class="text-mute small text-secondary">15-1-2020, 8:00 am</p>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-success">$154.0</h6>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto pr-0">
                                <div class="avatar avatar-50 no-shadow border-0">
                                    <img src="../assets/images/user2.png" alt="">
                                </div>
                            </div>
                            <div class="col align-self-center pr-0">
                                <h6 class="font-weight-normal mb-1">Ms. Shivani Dilux</h6>
                                <p class="text-mute small text-secondary">15-1-2020, 8:00 am</p>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-success">$154.0</h6>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto pr-0">
                                <div class="avatar avatar-50 no-shadow border-0">
                                    <img src="../assets/images/user4.png" alt="">
                                </div>
                            </div>
                            <div class="col align-self-center pr-0">
                                <h6 class="font-weight-normal mb-1">Mrs. Magon Strudio</h6>
                                <p class="text-mute small text-secondary">15-1-2020, 8:00 am</p>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-success">$154.0</h6>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto pr-0">
                                <div class="avatar avatar-50 no-shadow border-0">
                                    <img src="../assets/images/user3.png" alt="">
                                </div>
                            </div>
                            <div class="col align-self-center pr-0">
                                <h6 class="font-weight-normal mb-1">Mr. Jack Strudio</h6>
                                <p class="text-mute small text-secondary">15-1-2020, 8:00 am</p>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-danger">-$154.0</h6>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto pr-0">
                                <div class="avatar avatar-50 no-shadow border-0">
                                    <img src="../assets/images/user2.png" alt="">
                                </div>
                            </div>
                            <div class="col align-self-center pr-0">
                                <h6 class="font-weight-normal mb-1">Ms. Shivani Dilux</h6>
                                <p class="text-mute small text-secondary">15-1-2020, 8:00 am</p>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-danger">-$154.0</h6>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto pr-0">
                                <div class="avatar avatar-50 no-shadow border-0">
                                    <img src="../assets/images/user4.png" alt="">
                                </div>
                            </div>
                            <div class="col align-self-center pr-0">
                                <h6 class="font-weight-normal mb-1">Mrs. Magon Strudio</h6>
                                <p class="text-mute small text-secondary">15-1-2020, 8:00 am</p>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-success">$154.0</h6>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto pr-0">
                                <div class="avatar avatar-50 no-shadow border-0">
                                    <img src="../assets/images/user3.png" alt="">
                                </div>
                            </div>
                            <div class="col align-self-center pr-0">
                                <h6 class="font-weight-normal mb-1">Mr. Jack Strudio</h6>
                                <p class="text-mute small text-secondary">15-1-2020, 8:00 am</p>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-success">$154.0</h6>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- page content ends -->
    </div>
</div>
