<div class="justify-content-center alert alert-danger mt-3">
  <div class="col-md-12">
    <div class="clearfix">
      <h1 class="float-left display-5 mr-3">{{erroCodigo}}</h1>
      <h5>{{erroTitulo}}</h5>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="text-dark text-center mb-3">{{erroMensagem}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
          <button type="button" class="btn btn-outline-dark"  (click)="fechar()">OK</button>
      </div>
    </div>
  </div>
</div>
