<div class="row no-gutters">
    <div class="col-auto">
        <button class="btn  btn-link text-dark menu-btn" (click)="toggleSidebar()">
            <i class="material-icons">menu</i>
        </button>
    </div>

    <div class="col text-center">
        <!--        <img [src]="'data:image/png;base64,'+this.aplicacao.logo2" alt="" class="header-logo"/>-->
    </div>

    <div class="col-auto">
        <a routerLink="/notification" [routerLinkActive]="['active']" class="btn  btn-link text-dark position-relative float-right">
            <i class="material-icons">notifications_none</i>
            <span class="counts">9+</span>
        </a>
    </div>
</div>
