<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Registro</h1>
  <p class="text-muted">Vamos criar sua conta!</p>
  <div class="input-group mb-3">
    <input type="text" class="form-control" formControlName="nome" placeholder="Seu nome" autocomplete="nome" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }">
    <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
      <div *ngIf="f.nome.errors.required">Necessário informar o seu nome!</div>
    </div>
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" formControlName="email" placeholder="Seu e-mail" autocomplete="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Necessário informar o seu e-mail!</div>
    </div>
  </div>

  <!--                <div class="input-group mb-3">-->
  <!--                  <input type="text" class="form-control" formControlName="celular" placeholder="Seu celular (receber sms)" mask="(00)00000-0000" autocomplete="celular" [ngClass]="{ 'is-invalid': submitted && f.celular.errors }">-->
  <!--                  <div *ngIf="submitted && f.celular.errors" class="invalid-feedback">-->
  <!--                    <div *ngIf="f.celular.errors.required">Necessário informar o seu número de celular!</div>-->
  <!--                    <div *ngIf="f.celular.errors.pattern">Número inválido!</div>-->
  <!--                  </div>-->
  <!--                </div>-->

  <!--                <div class="input-group mb-3">-->
  <!--                  <input type="text" class="form-control" formControlName="cpf" placeholder="Seu CPF" mask="000.000.000-00" autocomplete="cpf" [ngClass]="{ 'is-invalid': submitted && f.cpf.errors }">-->
  <!--                  <div *ngIf="submitted && f.cpf.errors" class="invalid-feedback">-->
  <!--                    <div *ngIf="f.cpf.errors.required">Necessário informar o seu CPF!</div>-->
  <!--                    <div *ngIf="f.cpf.errors.cpfvalidator">CPF inválido!</div>-->
  <!--                  </div>-->
  <!--                </div>-->

  <div class="input-group mb-3">
    <input type="password" class="form-control" formControlName="senha" placeholder="Sua senha" autocomplete="senha" [ngClass]="{ 'is-invalid': submitted && f.senha.errors }">
    <div *ngIf="submitted && f.senha.errors" class="invalid-feedback">
      <div *ngIf="f.senha.errors.required">Necessário informar uma senha de acesso!</div>
      <div *ngIf="f.senha.errors.minlength">A senha deve ter no minimo 08 digitos!</div>
      <div *ngIf="f.senha.errors.senhaForte">A senha precisar conter letras maiúcula, letras minusculas e números!</div>
    </div>
  </div>

  <div class="input-group mb-4">
    <input type="password" class="form-control" formControlName="confirmaSenha" placeholder="Confirme a senha" autocomplete="confirmaSenha" [ngClass]="{ 'is-invalid': submitted && f.confirmaSenha.errors }">
    <div *ngIf="submitted && f.confirmaSenha.errors" class="invalid-feedback">
      <div *ngIf="f.confirmaSenha.errors.required">Necessário confirmar a senha!</div>
      <div *ngIf="f.confirmaSenha.errors.camposIguais">As senhas não são iguais</div>
    </div>
  </div>
  <button class="btn btn-block btn-info">Criar Conta</button>
</form>
