<div [@routerTransition]>
    <div class="container">            
        <div class="row mt-3">
            <div class="col-12 px-0">
                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <h6 class="text-dark mb-1">Email Notification</h6>
                                <p class="text-secondary mb-0 small">Default all notification will be sent</p>
                            </div>
                            <div class="col-2 pl-0 align-self-center text-right">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                    <label class="custom-control-label" for="customSwitch1"></label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <h6 class="text-dark mb-1">SMS Notification</h6>
                                <p class="text-secondary mb-0 small">Receive SMS notification</p>
                            </div>
                            <div class="col-2 pl-0 align-self-center text-right">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch4" checked>
                                    <label class="custom-control-label" for="customSwitch4"></label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <h6 class="text-dark mb-1">Profile Avaialability</h6>
                                <p class="text-secondary mb-0 small">Everyone can see my profile in search</p>
                            </div>
                            <div class="col-2 pl-0 align-self-center text-right">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                    <label class="custom-control-label" for="customSwitch2"></label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <h6 class="text-dark mb-1">Sent Request</h6>
                                <p class="text-secondary mb-0 small">Everyone can sent me a request</p>
                            </div>
                            <div class="col-2 pl-0 align-self-center text-right">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                    <label class="custom-control-label" for="customSwitch3"></label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/login" class="row">
                            <div class="col">
                                <h6 class="text-dark mb-1">Change password</h6>
                                <p class="text-secondary mb-0 small">You must need your verified email</p>
                            </div>                                
                            <div class="col-2 pl-0 align-self-center text-right">
                                 <i class="material-icons text-secondary">chevron_right</i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
