<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <app-formulario-registro (enviar)="viewModel.enviarRegistro($event)"></app-formulario-registro>
              <app-box-erro *ngIf="viewModel.getMostarErro()" [erroMensagem]="viewModel.getErroProcessamento().mensagem" [erroTitulo]="viewModel.getErroProcessamento().titulo" [erroCodigo]="viewModel.getErroProcessamento().codigo" (fechaBox)="viewModel.setMostrarErro($event)"></app-box-erro>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
