<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <app-formulario-registro (enviar)="enviarRegistro($event)"></app-formulario-registro>
              <app-box-erro *ngIf="showErro" [erroMensagem]="error.mensagem" [erroTitulo]="error.titulo" [erroCodigo]="error.codigo" (fechaBox)="esconderErro($event)"></app-box-erro>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
</div>
