// Here you can add other styles
.sidebar {
  color: #C3AD6C;
  background: #151E45;
}

.sidebar .nav-link:hover {
  color: #fff;
  background: #333;
}

.sidebar .nav-link.active {
  color: #fff;
  background: #222638;
}

.btn-info {
  color: #151E46;
  font-weight: bold;
}
